<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A short demo that shows how dynamic scraping works">
    <meta name="keywords" content="dynamic scraping, web scraping, scraping,h26k2,hasnain karim">
    <meta name="author" content="hasnain karim , h26k2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Dynamic Scraping Demo | TCS tracking result scrape</title>
<style>

body{
    font-family: Arial, Helvetica, sans-serif;
}

</style>
</head>
<body>

<form method="POST">
    <p>input tracking number here</p>
    <input type="text" required placeholder="Enter tracking number" name="tracking-numnber"/>
    <button type="submit">get status</button>
</form>

<p id="status"></p>

<div id="result">

</div>



<script src="/scripts/home.js"></script>
</body>
</html>